/* Montana Style - Satoshi Whitepaper Format */
@import url('https://fonts.googleapis.com/css2?family=Times+New+Roman&display=swap');

@page {
    size: A4;
    margin: 2.5cm 2cm;
}

body {
    font-family: "Times New Roman", Times, serif;
    font-size: 11pt;
    line-height: 1.5;
    text-align: justify;
    color: #000;
}

/* Title Block */
h1:first-of-type {
    text-align: center;
    font-size: 18pt;
    font-weight: bold;
    margin-bottom: 0.5em;
    page-break-after: avoid;
}

/* Author info - centered block after title */
.author-block {
    text-align: center;
    margin: 1em 0 2em 0;
}

/* Abstract */
.abstract {
    margin: 2em 3em;
    text-align: justify;
    font-style: normal;
}

.abstract-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.5em;
}

/* Section Headers */
h2 {
    font-size: 14pt;
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    page-break-after: avoid;
}

h3 {
    font-size: 12pt;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
    page-break-after: avoid;
}

h4 {
    font-size: 11pt;
    font-weight: bold;
    margin-top: 0.8em;
    margin-bottom: 0.3em;
}

/* Code blocks */
pre, code {
    font-family: "Courier New", Courier, monospace;
    font-size: 9pt;
    background: #f5f5f5;
    padding: 0.5em;
    overflow-x: auto;
}

pre {
    margin: 1em 0;
    border: 1px solid #ddd;
}

code {
    padding: 0.1em 0.3em;
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 1em 0;
    font-size: 10pt;
}

th, td {
    border: 1px solid #000;
    padding: 0.4em 0.6em;
    text-align: left;
}

th {
    background: #f0f0f0;
    font-weight: bold;
}

/* Lists */
ul, ol {
    margin: 0.5em 0;
    padding-left: 2em;
}

li {
    margin: 0.2em 0;
}

/* Links */
a {
    color: #000;
    text-decoration: none;
}

/* Horizontal rules */
hr {
    border: none;
    border-top: 1px solid #000;
    margin: 1.5em 0;
}

/* Page breaks */
.page-break {
    page-break-before: always;
}

/* Footer quote */
.footer-quote {
    text-align: center;
    font-style: italic;
    margin-top: 2em;
}

/* Symbol styling */
.symbol {
    font-size: 24pt;
    text-align: center;
    margin: 1em 0;
}
